{
  "parser"  : "babel-eslint",
  "env"     : {
    "browser" : true
  },
  "rules": {
    "spaced-comment": [2, "never"],
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "jsx-quotes": [2, "prefer-single"], //jsx属性使用单引号
    "comma-dangle": 0,
    "object-curly-spacing":0,
    "comma-spacing": 0
  }
}
