{
  "parser"  : "babel-eslint",
  "env"     : {
    "browser" : true
  },
  "rules": {
    "spaced-comment": 0,
    "semi": 0,
    "jsx-quotes": [2, "prefer-single"], //jsx属性使用单引号
    "comma-dangle": 0,
    "object-curly-spacing":0,
    "comma-spacing": 0
  }
}
